---

---
<header class="pt-12 sm:pt-16" data-headlessui-state="">
  <div class="">
    <div class="relative flex justify-between group/row relative isolate pt-[calc(--spacing(2)+1px)] last:pb-[calc(--spacing(2)+1px)]">
      <div aria-hidden="true" class="absolute inset-y-0 left-1/2 -z-10 w-screen -translate-x-1/2">
        <div class="absolute inset-x-0 top-0 border-t border-black/5"></div>
        <div class="absolute inset-x-0 top-2 border-t border-black/5"></div>
        <div class="absolute inset-x-0 bottom-0 hidden border-b border-black/5 group-last/row:block"></div>
        <div class="absolute inset-x-0 bottom-2 hidden border-b border-black/5 group-last/row:block"></div>
      </div>
      <div class="relative flex gap-6">
        <div class="py-3 group/item relative">
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-first/item:block absolute size-[15px] fill-black/10 -top-2 -left-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="absolute size-[15px] fill-black/10 -top-2 -right-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-first/item:group-last/row:block absolute size-[15px] fill-black/10 -bottom-2 -left-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-last/row:block absolute size-[15px] fill-black/10 -bottom-2 -right-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <a title="Home" data-headlessui-state="" href="/">
            jeffrey.
          </a>
        </div>
        <div class="relative hidden items-center py-3 lg:flex">
          <!-- <a class="flex items-center gap-1 rounded-full bg-blue-950/35 px-3 py-0.5 text-sm/6 font-medium text-white data-hover:bg-fuchsia-950/30" data-headlessui-state="" href="/">
            optional banner for future usage
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon" class="size-4">
              <path fill-rule="evenodd" d="M6.22 4.22a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06l-3.25 3.25a.75.75 0 0 1-1.06-1.06L8.94 8 6.22 5.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
            </svg>
          </a> -->
        </div>
      </div>
      <nav class="relative hidden lg:flex">
        <div class="relative flex group/item relative">
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-first/item:block absolute size-[15px] fill-black/10 -top-2 -left-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="absolute size-[15px] fill-black/10 -top-2 -right-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-first/item:group-last/row:block absolute size-[15px] fill-black/10 -bottom-2 -left-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-last/row:block absolute size-[15px] fill-black/10 -bottom-2 -right-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <a class="flex items-center px-4 py-3 text-base font-medium text-gray-950 bg-blend-multiply hover:bg-black/2.5" data-headlessui-state="" href="/">home</a>
        </div>
        <div class="relative flex group/item relative">
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-first/item:block absolute size-[15px] fill-black/10 -top-2 -left-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="absolute size-[15px] fill-black/10 -top-2 -right-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-first/item:group-last/row:block absolute size-[15px] fill-black/10 -bottom-2 -left-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-last/row:block absolute size-[15px] fill-black/10 -bottom-2 -right-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <a class="flex items-center px-4 py-3 text-base font-medium text-gray-950 bg-blend-multiply hover:bg-black/2.5" data-headlessui-state="" href="/media">media</a>
        </div>
        <div class="relative flex group/item relative">
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-first/item:block absolute size-[15px] fill-black/10 -top-2 -left-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="absolute size-[15px] fill-black/10 -top-2 -right-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-first/item:group-last/row:block absolute size-[15px] fill-black/10 -bottom-2 -left-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-last/row:block absolute size-[15px] fill-black/10 -bottom-2 -right-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <a class="flex items-center px-4 py-3 text-base font-medium text-gray-950 bg-blend-multiply hover:bg-black/2.5" data-headlessui-state="" href="/garden">garden</a>
        </div>
        <div class="relative flex group/item relative">
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-first/item:block absolute size-[15px] fill-black/10 -top-2 -left-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="absolute size-[15px] fill-black/10 -top-2 -right-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-first/item:group-last/row:block absolute size-[15px] fill-black/10 -bottom-2 -left-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-last/row:block absolute size-[15px] fill-black/10 -bottom-2 -right-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <a class="flex items-center px-4 py-3 text-base font-medium text-gray-950 bg-blend-multiply hover:bg-black/2.5" data-headlessui-state="" href="/thoughts">thoughts</a>
        </div>
        <div class="relative flex group/item relative">
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-first/item:block absolute size-[15px] fill-black/10 -top-2 -left-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="absolute size-[15px] fill-black/10 -top-2 -right-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-first/item:group-last/row:block absolute size-[15px] fill-black/10 -bottom-2 -left-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-last/row:block absolute size-[15px] fill-black/10 -bottom-2 -right-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <a class="flex items-center px-4 py-3 text-base font-medium text-gray-950 bg-blend-multiply hover:bg-black/2.5" data-headlessui-state="" href="/bookmarks">bookmarks</a>
        </div>
        <div class="relative flex group/item relative">
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-first/item:block absolute size-[15px] fill-black/10 -top-2 -left-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="absolute size-[15px] fill-black/10 -top-2 -right-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-first/item:group-last/row:block absolute size-[15px] fill-black/10 -bottom-2 -left-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-last/row:block absolute size-[15px] fill-black/10 -bottom-2 -right-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <a class="flex items-center px-4 py-3 text-base font-medium text-gray-950 bg-blend-multiply hover:bg-black/2.5" data-headlessui-state="" href="/about">about</a>
        </div>
      </nav>
      <button class="flex size-12 items-center justify-center self-center rounded-lg data-hover:bg-black/5 lg:hidden" aria-label="Open main menu" id="mobile-menu-button" type="button" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" data-slot="icon" class="size-6" id="menu-icon">
          <path fill-rule="evenodd" d="M3 9a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 9Zm0 6.75a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd"></path>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" data-slot="icon" class="size-6 hidden" id="close-icon">
          <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>

    <!-- Mobile menu panel -->
    <div class="lg:hidden hidden" id="mobile-menu-panel">
      <nav class="relative flex flex-col mt-4">
        <div class="relative flex group/item relative">
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-first/item:block absolute size-[15px] fill-black/10 -top-2 -left-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="absolute size-[15px] fill-black/10 -top-2 -right-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-first/item:group-last/row:block absolute size-[15px] fill-black/10 -bottom-2 -left-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-last/row:block absolute size-[15px] fill-black/10 -bottom-2 -right-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <a class="flex items-center px-4 py-3 text-base font-medium text-gray-950 bg-blend-multiply hover:bg-black/2.5" href="/">home</a>
        </div>
        <div class="relative flex group/item relative">
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-first/item:block absolute size-[15px] fill-black/10 -top-2 -left-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="absolute size-[15px] fill-black/10 -top-2 -right-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-first/item:group-last/row:block absolute size-[15px] fill-black/10 -bottom-2 -left-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-last/row:block absolute size-[15px] fill-black/10 -bottom-2 -right-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <a class="flex items-center px-4 py-3 text-base font-medium text-gray-950 bg-blend-multiply hover:bg-black/2.5" href="/media">media</a>
        </div>
        <div class="relative flex group/item relative">
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-first/item:block absolute size-[15px] fill-black/10 -top-2 -left-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="absolute size-[15px] fill-black/10 -top-2 -right-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-first/item:group-last/row:block absolute size-[15px] fill-black/10 -bottom-2 -left-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-last/row:block absolute size-[15px] fill-black/10 -bottom-2 -right-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <a class="flex items-center px-4 py-3 text-base font-medium text-gray-950 bg-blend-multiply hover:bg-black/2.5" href="/garden">garden</a>
        </div>
        <div class="relative flex group/item relative">
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-first/item:block absolute size-[15px] fill-black/10 -top-2 -left-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="absolute size-[15px] fill-black/10 -top-2 -right-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-first/item:group-last/row:block absolute size-[15px] fill-black/10 -bottom-2 -left-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-last/row:block absolute size-[15px] fill-black/10 -bottom-2 -right-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <a class="flex items-center px-4 py-3 text-base font-medium text-gray-950 bg-blend-multiply hover:bg-black/2.5" href="/thoughts">thoughts</a>
        </div>
        <div class="relative flex group/item relative">
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-first/item:block absolute size-[15px] fill-black/10 -top-2 -left-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="absolute size-[15px] fill-black/10 -top-2 -right-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-first/item:group-last/row:block absolute size-[15px] fill-black/10 -bottom-2 -left-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-last/row:block absolute size-[15px] fill-black/10 -bottom-2 -right-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <a class="flex items-center px-4 py-3 text-base font-medium text-gray-950 bg-blend-multiply hover:bg-black/2.5" href="/bookmarks">bookmarks</a>
        </div>
        <div class="relative flex group/item relative">
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-first/item:block absolute size-[15px] fill-black/10 -top-2 -left-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="absolute size-[15px] fill-black/10 -top-2 -right-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-first/item:group-last/row:block absolute size-[15px] fill-black/10 -bottom-2 -left-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <svg viewBox="0 0 15 15" aria-hidden="true" class="hidden group-last/row:block absolute size-[15px] fill-black/10 -bottom-2 -right-2">
            <path d="M8 0H7V7H0V8H7V15H8V8H15V7H8V0Z"></path>
          </svg>
          <a class="flex items-center px-4 py-3 text-base font-medium text-gray-950 bg-blend-multiply hover:bg-black/2.5" href="/about">about</a>
        </div>
      </nav>
    </div>
  </div>
</header>

<script>
  const mobileMenuButton = document.getElementById('mobile-menu-button');
  const mobileMenuPanel = document.getElementById('mobile-menu-panel');
  const menuIcon = document.getElementById('menu-icon');
  const closeIcon = document.getElementById('close-icon');

  if (mobileMenuButton && mobileMenuPanel && menuIcon && closeIcon) {
    mobileMenuButton.addEventListener('click', () => {
      const isExpanded = mobileMenuButton.getAttribute('aria-expanded') === 'true';

      // Toggle aria-expanded
      mobileMenuButton.setAttribute('aria-expanded', !isExpanded ? 'true' : 'false');

      // Toggle menu visibility
      mobileMenuPanel.classList.toggle('hidden');

      // Toggle icons
      menuIcon.classList.toggle('hidden');
      closeIcon.classList.toggle('hidden');
    });
  }
</script>