
@import "https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap";
@import "tailwindcss";

@font-face {
  font-family: "Quivert";
  src:
    url("/fonts/quivert/Quivert.otf"),
    url("/fonts/quivert/Quivert.ttf");
  font-weight: normal;
  font-style: normal;
}

/* font: playfair */
@font-face {
  font-family: "Playfair";
  src: url("/fonts/playfair/PlayfairDisplay-Bold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Playfair";
  src: url("/fonts/playfair/PlayfairDisplay-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/* font: lato */
@font-face {
  font-family: "Lato";
  src: 
    url("/fonts/lato/Lato-Hairline.ttf");
    font-weight: 100;
    font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: 
    url("/fonts/lato/Lato-Thin.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: 
    url("/fonts/lato/Lato-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: 
    url("/fonts/lato/Lato-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@theme {
  --font-quivert: "Quivert";
  --font-lato: "Lato";
  --font-playfair: "Playfair";
  --text-huge: 9rem;
}